body {
    font-family: helvetica, arial, sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

#pagina {
    display: flex;
    justify-content: center;
}

#contenedor-izquierdo {
	background-color: rgb(157, 136, 136);
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: rgb(98, 175, 174);
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

/*creacion de un estilo para el id placita, se agregar a los hijos flexibles para poder centrarlos*/
#placita {
	background-color: #eae3911f;
	width: 70%;
	height: 90%;
	left: 15%;
	top: 10%;
	position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0.5;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

/* Se reduce la altura y anchura del 150% al 100% para evitar superposicion de elementos*/
.componente-suelo {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

/* Se reduce la altura y anchura del 150% al 100% para evitar superposicion de elementos*/
.componente-cielo {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

/* Se eliminan el left de ambos para que se puedan centrar con el id placita */
/* se saca el bottom de cielo para que por defecto tome el top 0 y este arriba del suelo*/
.cielo {
	height: 40%;
	width: 90%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
    justify-content: center;
	opacity: 0.5;
	z-index: -1;
}

.suelo {
	width: 90%;
	height: 60%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 1rem;
	bottom: 1%;
	opacity: 0.7;
	z-index: -1;
}